.nav
    .nav-wrapper
        ul 
            li 
                a(href="sketch01.html") Sketch01
            li 
                a(href="stepFigure.html") stepFigure
            li 
                a(href="cards.html") Cards
