@import "/theme.less";
@testingColor : #FF55FF;

.gameCol {
    display: inline-flex;
    justify-content: center;
    width: 40px;
    padding: 5px;
    margin: 10px;
    background-color: @testingColor;
    .futuraBold;
}

#timer {
    width:100%;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 50px;
    .futuraBold;
}

#scene {
    width: 300px;
    height: 500px;
}
.flexColContainer {
    display: flex;
    justify-content: center
}
