$card-bg-color : #ff5500;
$card-white-color : #eef;
$card-black-color : #222;

.cards {
    width: 100%;
    height: 100%;
    .base {
        display: inline-block;
        width: 10em;
        height: 16em;
        //border-radius: 1em;
        background-color: $card-bg-color;
        padding: 1em;
        margin-left: 1em;
        .module01{
            //position: relative;
            width:9em;
            height: 7em;
            //border-radius: 1em;
            background-color: $card-white-color;
            padding: .5em;
            .block {
                float: left;
                border-radius: 0.5em;
                margin-top: 0em;
                display: inline-block;
                width: 24%;
                margin-right: 1%;
                margin-bottom: 1%;
                height: 48%;
                //border-radius: inherit;
                background-color: $card-bg-color;
            }
        }
    }
}
