.cards
    .base
        .module01
            .block
        .module01
            .block
            .block
            .block
            .block
            .block
            .block
            .block
    .base  
        .module01
        .module01
            .block
            .block
            .block
            .block

    .base  
        .module01
        .module01
            .block
            .block

    .base  
        .module01
        .module01
            .block
            .block
